Nama: Habibi Bagus Suliano

Batch : 009

Tugas non grade challange week 1 day 2

In [1]:
# Task 1
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 
              'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 
              'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 
              'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']
set_res = set(customer_id) 
print("The unique elements of the input list using set():\n") 
list_res = (list(set_res))
 
for item in list_res: 
    print(item)

The unique elements of the input list using set():

B821
A005
B818
B439
A092
A082
B341
B219
A901
B904
A083
A461

In [19]:
# Task 2
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

print(Data[3])
del(Data[0 : 5])
del(Data[4])
print(Data)
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]
Data.reverse()
print(Data)

16
[36, 49, 64, 81]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [21]:
# Task 3
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 
            'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}
print(provinsi.keys())
provinsi['Jawa Timur']='Surabaya'
print(provinsi)

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])
{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}